{% extends 'base.html' %}

{% block title %}{{ article.content.title }}{% endblock %}

{% block description %}{{ description }}{% endblock %}

{% block extra_head %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@oldLentach">
    <meta name="twitter:title" content="{{ article.content.title }}">
    {% if description %}<meta name="twitter:description" content="{{ description }}">{% endif %}
{#    <meta name="twitter:creator" content="@author_handle">#}
    {% if image %}<meta name="twitter:image" content="{{ image }}">{% endif %}

    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ article.content.title }}" />
    {% if url %}<meta property="og:url" content="{{ url }}" />{% endif %}
    {% if image %}
        <meta property="og:image" content="{{ image }}" />
        <meta property="og:image:url" content="{{ image }}" />
    {% endif %}
    {% if description %}<meta property="og:description" content="{{ description }}" />{% endif %}
{#    <meta property="og:site_name" content="Site Name, i.e. Moz" />#}
{#    <meta property="fb:admins" content="Facebook numeric ID" />#}
{% endblock %}