{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <base target="_blank">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}Textius{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <link href="{% static 'bundle.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <!--TWTTR-->
    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
        t._e.push(f);
        };
        return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <div id="app">{% block app_html %}{% endblock %}</div>
    <div id="vk_api_transport"></div>
    {% if debug %}
        <script type="text/javascript" src="{% static 'vendor.js' %}"></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'bundle.js' %}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="//platform.instagram.com/en_US/embeds.js"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter42507499 = new Ya.Metrika({
                        id:42507499,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/42507499" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    {% block extra_body %}{% endblock %}
</body>
</html>