{% extends 'base.html' %}

{% block title %}Редактор материала{% endblock %}

{% if IS_LENTACH %}
    {% block description %}Пропаганда здравого смысла. Крупнейшее новостное сообщество в России{% endblock %}
    {% block keywords %}Настоящий лентач, тру лентач, лентач, лентач смайл, смайлик лентача, символ лентача, лентач мем, лентач игры, лентач новости, мемы, мемасики, сатира, политическая сатира, группа лентач, лентач сайт, про лентач, паблик лентач, логотип лентача, бот лентача, пикчер лентача, лентач oldlentach, лентач лого, какой лентач настоящий, старый лентач, шейн лентач, марк шейн{% endblock %}
{% endif %}

{% if not DEBUG %}
    {% block extra_head %}
            <script type="text/javascript" src="{% static 'editor.js' %}{% if VENDOR_REVISION %}?{{ VENDOR_REVISION }}{% endif %}"></script>
    {% endblock %}
{% endif %}