
<div class="gallery">
    <div class="carousel">
        <amp-carousel layout="fixed-height" height="300" type="slides" >

            {% for photo in item.photos %}
                <amp-img on="tap:lightbox" tabindex="0" role="button"  layout="fill" src="{{ photo.regular }}"></amp-img>
            {% endfor %}
        </amp-carousel>
    </div>
    <div class="caption">
        {% if item.photos|length == 1 %}
            {{ item.photos.0.caption }}
        {% else %}
            Галерея из {{ item.photos|length }} фото
        {% endif %}
    </div>
</div>